html, body {
  margin: 0; 
  height: 100vh; 
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.skillbar {
  background-color:black;
  height:100%;
  
}

.skillbarHolder {
  height:20px;
  border: solid black 1px;
  margin-bottom:20px;
}

#questHolder {
 text-align:center;
  padding-top:10px;
}

#tablist {
  text-align:center;
}

.questBox {
  margin:auto;
  text-align:center;
  max-width:150px;
  border: 1px solid;
  padding-top: 15px;
  box-shadow: 8px 8px;
  margin-bottom:20px;
}

.questBox:hover {
  box-shadow: 8px 8px blue;
}

a.validList {
  cursor:pointer;
}

a.validList:hover {
  text-decoration:underline;
}

.questBox:active {
  box-shadow: none;
  position:relative;
  top: 8px;
  left: 8px;
}

.questBox h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}

.questBox p {
  font-size: 1.5em;
}

.goright {

  text-align:right;
  font-size:1.24em;
}

#topQuests {
  text-align:center;
}

#pageframe {
  height:95vh;
  border: none;
  overflow-x:wrap;
}

.mapheader {
  font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
  line-height:1.75em;
}

div#mapsidebar {
  height:88vh;
  overflow-y:scroll;
}

div#questHolder {
  height:88vh;
  overflow-y:scroll;
}

div#leftcol {
  padding: 20px;
  border-right: 1px solid #c8ccd1;
  
}

ul {
  list-style-type: "> ";
}

span.unknown {
  color: rgba(174, 186, 216,0.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li.empty {
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

q {
	quotes: '"' '"' "'" "'";
}
