html, body {
  margin: 0; 
  height: 100vh; 
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  /*background-image: url('data:image/svg+xml,<svg width="200" height="200" viewBox="0 0 200 200" color="%233f51b5" fill="none" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="spinner-secondHalf"><stop offset="0%" stop-opacity="0" stop-color="currentColor" /><stop offset="100%" stop-opacity="0.5" stop-color="currentColor" /></linearGradient><linearGradient id="spinner-firstHalf"><stop offset="0%" stop-opacity="1" stop-color="currentColor" /><stop offset="100%" stop-opacity="0.5" stop-color="currentColor" /></linearGradient></defs><g stroke-width="8"><path stroke="url(%23spinner-secondHalf)" d="M 4 100 A 96 96 0 0 1 196 100" /><path stroke="url(%23spinner-firstHalf)" d="M 196 100 A 96 96 0 0 1 4 100" /><path stroke="currentColor" stroke-linecap="round" d="M 4 100 A 96 96 0 0 1 4 98" /></g><animateTransform from="0 0 0" to="360 0 0" attributeName="transform" type="rotate" repeatCount="indefinite" dur="1300ms" /></svg>');
  background-repeat:no-repeat;
background-size: contain;
      background-position: bottom center, 50%, 50%;*/
}

#puztab {
  width:100%;
  height:100%;
  background-image: url('data:image/svg+xml,<svg width="200" height="200" viewBox="0 0 200 200" color="%233f51b5" fill="none" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="spinner-secondHalf"><stop offset="0%" stop-opacity="0" stop-color="currentColor" /><stop offset="100%" stop-opacity="0.5" stop-color="currentColor" /></linearGradient><linearGradient id="spinner-firstHalf"><stop offset="0%" stop-opacity="1" stop-color="currentColor" /><stop offset="100%" stop-opacity="0.5" stop-color="currentColor" /></linearGradient></defs><g stroke-width="8"><path stroke="url(%23spinner-secondHalf)" d="M 4 100 A 96 96 0 0 1 196 100" /><path stroke="url(%23spinner-firstHalf)" d="M 196 100 A 96 96 0 0 1 4 100" /><path stroke="currentColor" stroke-linecap="round" d="M 4 100 A 96 96 0 0 1 4 98" /></g><animateTransform from="0 0 0" to="360 0 0" attributeName="transform" type="rotate" repeatCount="indefinite" dur="1300ms" /></svg>');
  background-repeat:no-repeat;
background-size: contain;
      background-position: bottom center, 50%, 50%;
}


.spin {
  position:fixed;
  top:0px;
  left:0px;
  z-index:-1;
}

#wikih1 {
	font-size: 1.8em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	border-bottom: 1px solid var(--border-color-base,#a2a9b1);
  width: 100%;
  margin-top:15px;

}

.skillbar {
  background-color:black;
  height:100%;
  
}

.skillbarHolder {
  height:20px;
  border: solid black 1px;
  margin-bottom:20px;
}

#questHolder {
 text-align:center;
  padding-top:10px;
}

#tablist {
  text-align:center;
}

.puz {
  height:27px;
  width:28px;
}

.questBox {
  margin:auto;
  text-align:center;
  max-width:150px;
  border: 1px solid;
  padding-top: 15px;
  box-shadow: 8px 8px;
  margin-bottom:20px;
}

.questBox:hover {
  box-shadow: 8px 8px #0E65C0;
}

a.validList {
  cursor:pointer;
}

a.validList:hover {
  text-decoration:underline;
}

.questBox:active {
  box-shadow: none;
  position:relative;
  top: 8px;
  left: 8px;
}

.questBox h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}

.questBox p {
  font-size: 1.5em;
}

.goright {

  text-align:right;
  font-size:1.24em;
}

.fakea {
  color:blue;
}



#topQuests {
  text-align:center;
}

#pageframe {
  height: calc(95vh - 20px);
  border: none;
  overflow-x:wrap;
}

.mapheader {
  font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
  line-height:1.75em;
}

div#mapsidebar {
  height:88vh;
  overflow-y:scroll;
}

div#questHolder {
  height:88vh;
  overflow-y:scroll;
}

div#leftcol {
  padding: 20px;
  border-right: 1px solid #c8ccd1;
  
}

ul {
  list-style-type: "> ";
}

span.unknown {
  color: rgba(174, 186, 216,0.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li.empty {
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

q {
	quotes: '"' '"' "'" "'";
}
