@media screen {
  .wikitable {
    box-sizing: border-box;
    background-color: var(--background-color-neutral-subtle,#f8f9fa);
    color: var(--color-base,#202122);
    margin: 1em 0;
    margin-top: 1em;
    border: 1px solid var(--border-color-base,#a2a9b1);
    border-collapse: collapse;
  }
}
@media screen {
  .wikitable > tr > th, .wikitable > * > tr > th {
    background-color: var(--background-color-neutral,#eaecf0);
    color: var(--color-base,#202122);
    text-align: center;
  }
}
@media screen {
  .wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid var(--border-color-base,#a2a9b1);
    padding: 0.2em 0.4em;
  }
}

.mw-parser-output .ambox-content {
  border-left: 10px solid #f28500;
}

.mw-parser-output .ambox {
  border: 1px solid #a2a9b1;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(162, 169, 177);
  border-left: 10px solid #36c;
  background-color: #fbfbfb;
  box-sizing: border-box;
}

@media (min-width: 720px) {
  .mw-parser-output .ambox {
    margin: 0 10%;
  }
}
.mw-parser-output .ambox-content {
  border-left: 10px solid #f28500;
}
.mw-parser-output .ambox {
  border: 1px solid #a2a9b1;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(162, 169, 177);
  border-left: 10px solid #36c;
  background-color: #fbfbfb;
  box-sizing: border-box;
}
@media screen {
  table {
    font-size: 100%;
  }
}
@media screen {
  .vector-body {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-content);
  }
}
@media screen {
  .mw-body, .parsoid-body {
    direction: ltr;
  }
}
@media screen {
  html, body {
    font-family: sans-serif;
  }
}
@media screen {
  body {
    color: var(--color-base,#202122);
  }
}
@media screen {
  html.vector-feature-custom-font-size-clientpref-1, .vector-icon {
    --font-size-medium: var(--font-size-medium,1rem);
    --line-height-medium: 1.6;
    --line-height-content: 1.625;
  }
}
@media screen {
  :root, .skin-invert, .notheme {
    --color-base: #202122;
    --background-color-neutral-subtle: #f8f9fa;
  }
}
@media screen {
  html {
    font-size: 100%;
  }
}

@media screen {
  table {
    font-size: 100%;
  }
}
@media screen {
  .vector-body {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-content);
  }
}
@media screen {
  .mw-body, .parsoid-body {
    direction: ltr;
  }
}
@media screen {
  html, body {
    font-family: sans-serif;
  }
}
@media screen {
  body {
    color: var(--color-base,#202122);
  }
}
@media screen {
  html.vector-feature-custom-font-size-clientpref-1, .vector-icon {
    --font-size-medium: var(--font-size-medium,1rem);
    --line-height-medium: 1.6;
    --line-height-content: 1.625;
  }
}
@media screen {
  :root, .skin-invert, .notheme {
    --color-base: #202122;
    --background-color-neutral-subtle: #f8f9fa;
  }
}
@media screen {
  html {
    font-size: 100%;
  }
}